/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
body {
  font-family: Arial, Source Sans Pro; /* Choose a suitable font-family */
  background-image: url("../portafolio-website/img/Alelake.png"); top; center;
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
}

/* Header Styles */
header {
  background-color: #040b14; /* Header background color */
  color: #fff; /* Text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hero Section Styles */
#hero {
  text-align: center;
  padding: 100px 0;
}


#hero h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: #ffffff; /* Hero title color */
}

#hero p {
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #ffffff; /* Hero subtitle color */
}

/* About Section Styles */
#about {
  background-color: #fff; /* Background color for the about section */
  padding: 50px;
}

#about h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
}

#about p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
}

/* Portfolio Section Styles */
#portfolio {
  background-color: #fafafa; /* Background color for the portfolio section */
  padding: 50px;
}

#portfolio h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
}

.portfolio-item h3 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #333; /* Project title color */
}

.portfolio-item p {
  font-size: 1rem; /* Adjust the font size as needed */
  color: #666; /* Project description color */
}

/* Contact Section Styles */
#contact {
  padding: 50px;
  text-align: center;
}

#contact h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
}

#contact p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
}

/* Footer Styles */
footer {
  background-color: #040b14;; /* Footer background color */
  color: #fff; /* Text color */
  text-align: center;
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Add any additional custom styles as needed */
