/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Set a background color for the entire page */
body {
  background-image: url("../portafolio-website/img/Alelake.png");
  background-position: center center;
  background-size: 100%; /* Adjust the background size to make it smaller */ 
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: Keeps the background fixed while scrolling */
}

/* Header Styles */
header {
  background-color: #173b6c; /* Header background color */
  font-family: 'Merriweather', serif; /* header font */
  color: #fff; /* Text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hero Section Styles */
#hero {
  text-align: left;
  margin-left: 200px;
  padding: 100px 0;
  height: 30vh;
}


#hero h1 {
  font-size: 2.5rem; /* Adjust the font size as needed */
  color: #ffffff; /* Hero title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#hero p {
  font-size: 1.2rem; /* Adjust the font size as needed */
  color: #ffffff; /* Hero subtitle color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* About Section Styles */
#about {
  background-color: #fafafa; /* Background color for the about section */
  padding: 50px;
}

#about h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#about p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* Style the specific <ul> element with the class "my-list" */
.my-list {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}
.my-list li {
  margin-top: 5px; /* Add spacing between list items */
}

/* Experience Section Styles */
#experience {
  background-color: #fff; /* Background color for the portfolio section */
  padding: 50px;
}

#experience h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#experience p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* Skills Section Styles */
#skills {
  background-color: #fafafa; /* Background color for the about section */
  padding: 50px;
}

#skills h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#skills p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}
/* Text color end */

/* Portfolio Section Styles */
#portfolio {
  background-color: #fff; /* Background color for the portfolio section */
  padding: 50px;
}

#portfolio h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

.portfolio-item {
  margin-bottom: 30px;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
}

.portfolio-item h3 {
  font-size: 1.5rem; /* Adjust the font size as needed */
  color: #333; /* Project title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

.portfolio-item p {
  font-size: 1rem; /* Adjust the font size as needed */
  color: #666; /* Project description color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* Recommendations Section Styles */
#recommendations {
  background-color: #fafafa; /* Background color for the portfolio section */
  padding: 50px;
}

#recommendations h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#recommendations p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* Education Section Styles */
#education {
  background-color: #fff; /* Background color for the portfolio section */
  padding: 50px;
}

#education h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#education p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* Contact Section Styles */
#contact {
  background-color: #fafafa; /* Background color for the portfolio section */
  padding: 50px;
}

#contact h2 {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #173b6c; /* Section title color */
  font-family: 'Merriweather', serif; /* Choose a suitable font-family */
}

#contact p {
  font-size: 1.1rem; /* Adjust the font size as needed */
  color: #666; /* Text color */
  font-family: 'Mulish', sans-serif; /* Choose a suitable font-family */
}

/* Footer Styles */
footer {
  background-color: #040b14; /* Footer background color */
  color: #fff; /* Text color */
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0; /* Changed "top" to "bottom" for a fixed footer */
  left: 0;
  width: 100%;
}

/* Add any additional custom styles as needed */
